In [1]:
import numpy as np
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import scipy 
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

In [7]:
df = pd.read_excel('colorado_final.xlsx')

In [10]:
df.columns = ['City', 'Population', 'Violent Crime', 'Murder', 'Rape', 'Robbery', 'Assault', 'Property Crime', 'Burgalry', 'Larcency', 'Motor', 'Arson']

In [11]:
df.head()

,City,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property Crime,Burgalry,Larcency,Motor,Arson
0,Arvada,110792,163,0,33,34,96,2666,331,2138,197,22
1,Aspen,6685,14,0,5,0,9,314,17,286,11,0
2,Ault,1565,0,0,0,0,0,2,0,0,2,0
3,Aurora,343484,1436,23,224,468,721,10786,1981,7805,1000,80
4,Avon,6336,9,0,3,0,6,140,12,124,4,1

In [12]:
df['Population Squared'] = df['Population'] ** 2

In [13]:
df

,City,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property Crime,Burgalry,Larcency,Motor,Arson,Population Squared
0,Arvada,110792,163,0,33,34,96,2666,331,2138,197,22,12274867264
1,Aspen,6685,14,0,5,0,9,314,17,286,11,0,44689225
2,Ault,1565,0,0,0,0,0,2,0,0,2,0,2449225
3,Aurora,343484,1436,23,224,468,721,10786,1981,7805,1000,80,117981258256
4,Avon,6336,9,0,3,0,6,140,12,124,4,1,40144896
5,Basalt,3818,2,0,0,0,2,63,11,50,2,0,14577124
6,Berthoud,5316,3,0,1,1,1,45,13,28,4,0,28259856
7,Black Hawk,119,6,0,3,2,1,205,2,195,8,0,14161
8,Blue River,854,1,0,0,1,0,4,0,4,0,0,729316
9,Boulder,102828,218,0,38,40,140,2948,612,2236,100,27,10573597584
10,Bow Mar,900,0,0,0,0,0,10,3,7,0,0,810000
11,Breckenridge,4568,22,1,4,2,15,349,19,328,2,1,20866624
12,Broomfield,59424,33,1,12,6,14,1204,106,1054,44,4,3531211776
13,Brush,5529,6,0,1,1,4,36,10,19,7,0,30569841
14,Buena Vista,2678,0,0,0,0,0,5,0,4,1,0,7171684
15,Burlington,3939,11,0,3,0,8,98,23,71,4,1,15515721
16,Campo,109,0,0,0,0,0,0,0,0,0,0,11881
17,Canon City,16474,80,0,3,7,70,595,94,482,19,7,271392676
18,Carbondale,6522,11,0,6,0,5,87,5,80,2,1,42536484
19,Castle Rock,52309,45,0,12,6,27,556,83,448,25,7,2736231481
20,Cedaredge,2192,0,0,0,0,0,29,13,16,0,0,4804864
21,Centennial,104771,141,6,25,20,90,1194,186,936,72,16,10976962441
22,Center,2281,10,0,0,2,8,49,16,33,0,0,5202961
23,Central City,675,4,0,0,0,4,45,2,40,3,0,455625
24,Cherry Hills Village,6297,1,0,0,0,1,55,13,37,5,0,39652209
25,Colorado Springs,436108,1893,26,370,418,1079,18175,3726,12521,1928,62,190190187664
26,Columbine Valley,1315,0,0,0,0,0,7,3,4,0,0,1729225
27,Commerce City,49200,156,1,36,20,99,1546,250,1113,183,7,2420640000
28,Cortez,8470,18,2,4,0,12,348,16,321,11,1,71740900
29,Craig,8909,18,0,6,0,12,238,47,182,9,2,79370281
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,Paonia,1417,0,0,0,0,0,16,1,15,0,0,2007889
106,Parachute,1100,6,0,1,1,4,22,11,10,1,0,1210000
107,Parker,47748,53,0,20,4,29,522,74,427,21,10,2279871504
108,Pueblo,108062,1011,2,165,211,633,7596,1900,5168,528,30,11677395844
109,Rangely,2479,4,0,0,0,4,13,3,10,0,0,6145441
110,Rifle,9306,36,5,13,0,18,304,36,258,10,0,86601636
111,Rocky Ford,3906,2,0,1,0,1,15,7,8,0,0,15256836
112,Salida,5346,11,0,0,0,11,218,30,180,8,1,28579716
113,Sheridan,5880,13,0,1,3,9,438,36,357,45,1,34574400
114,Silt,2991,5,0,1,1,3,62,9,51,2,0,8946081
115,Silverthorne,3921,6,0,1,0,5,98,11,83,4,0,15374241
116,Snowmass Village,2851,0,0,0,0,0,38,1,37,0,0,8128201
117,South Fork,375,0,0,0,0,0,0,0,0,0,0,140625
118,Springfield,1438,3,0,1,0,2,16,4,12,0,0,2067844
119,Steamboat Springs,12008,37,0,6,0,31,227,29,184,14,2,144192064
120,Sterling,14690,27,0,17,1,9,480,115,354,11,2,215796100
121,Stratton,673,1,0,0,1,0,16,8,6,2,0,452929
122,Telluride,2313,6,0,1,1,4,107,9,96,2,1,5349969
123,Thornton,125775,331,5,67,53,206,3296,431,2513,352,15,15819350625
124,Timnath,1436,0,0,0,0,0,23,1,21,1,0,2062096
125,Trinidad,8689,8,0,1,2,5,126,27,96,3,2,75498721
126,Vail,5241,18,0,1,0,17,275,16,251,8,0,27468081
127,Walsenburg,2960,18,0,3,6,9,92,20,72,0,2,8761600
128,Walsh,538,2,0,0,0,2,0,0,0,0,0,289444
129,Westminster,110093,214,2,26,52,134,2987,382,2283,322,15,12120468649
130,Wheat Ridge,30882,103,0,12,19,72,1128,179,806,143,8,953697924
131,Windsor,20094,6,0,0,0,6,172,38,131,3,2,403768836
132,Woodland Park,7185,10,0,2,0,8,195,11,179,5,2,51624225
133,Wray,2373,1,0,0,0,1,4,0,4,0,0,5631129
134,Yuma,3563,2,0,1,0,1,16,1,14,1,0,12694969

In [19]:
features = pd.get_dummies(df['Murder'])
features['Murder_Rate'] = np.where(df['Murder']>= 1, 1, 0)

In [22]:
print(df['Murder'].groupby(features['Murder_Rate']).describe())

             count      mean       std  min  25%  50%  75%   max
Murder_Rate
0            111.0  0.000000  0.000000  0.0  0.0  0.0  0.0   0.0
1             24.0  5.583333  9.810893  1.0  1.0  2.0  5.0  40.0

In [24]:
features['Robbery_Rate'] = np.where(df['Robbery'] >= 1, 1, 0)

In [25]:
print(df['Robbery'].groupby(features['Robbery_Rate']).describe())

              count       mean         std  min  25%  50%   75%     max
Robbery_Rate
0              71.0   0.000000    0.000000  0.0  0.0  0.0   0.0     0.0
1              64.0  45.671875  160.277642  1.0  1.0  3.5  19.0  1132.0

In [28]:
features['Population_Square'] = df['Population'] ** 2